.menu-button {
	-fx-background-color: #F5F5F5;
    -fx-font-size: 14px;
	-fx-border-color: none;
}
.menu-button > .label {
    -fx-text-fill: #2233AA; /* Couleur du texte du label interne à MenuButton */
}

.menu-button:hover {
    -fx-background-color: #2233AA;
}

.menu-button > .label:hover {
    -fx-text-fill: #F5F5F5; 
}

.menu-item {
    -fx-text-fill: #2233AA;        /* Couleur du texte des MenuItems */
    -fx-background-color: #F5F5F5; /* Couleur de fond des MenuItems */
}

.button {
	-fx-background-color: #F5F5F5;
	-fx-text-fill: #2233AA;
	-fx-font-size: 14px;
	-fx-border-color: none;
}

.button:hover {
    -fx-text-fill: #F5F5F5;
	-fx-background-color: #2233AA; 
}
